<?php /* @var $this Synergo_GoogleRecaptcha_Block_Captcha_Recaptcha */ ?>

<?php /* @var $captcha Synergo_GoogleRecaptcha_Model_Recaptcha */ ?>
<?php $captcha = $this->getCaptchaModel(); ?>
<script src="<?php echo $captcha->getUrl(); ?>" async defer></script>
<div class="clear"></div>
<div class="captcha">
    <div class="g-recaptcha"
      data-sitekey="<?php echo $captcha->getSiteKey(); ?>"
      data-theme="<?php echo $captcha->getTheme(); ?>"
      data-tabindex="<?php echo $captcha->getTabindex(); ?>"></div>
</div>